nav .navbar-brand
{
    font-size: xx-large;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: left;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
