main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: left;
}

h3
{
    text-align: center !important;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
