{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<body>
    <p>WORK - IN - PROGRESS. First draft, stay tuned for more!</p>
    <p>For the hospitality industry, reputation is everything. 
        Guests book based on online presence and word-of-mouth.
        Negative reviews can largely impact the booking decisions of future guests.
        For negative guest experiences, time and care are crucial for guest recovery.
        Finding and attending to an unhappy guest before they post a review can change their experience, and their score.</p>
        <p>Stakeholder: Hospitality software company</p>
        <p>End User: Hotel industry guest service managers</p>
        <p>Business Case: Reach dissatisfied guests quickly to increase customer retention</p>
        <p>Objective: Build a communication management tool to flag dissatisfied guests for rapid recovery by staff</p>
    </br>
    <p style="text-align:center;">Questions or comments? Connect with me!</p>
    <p style="text-align:center;"><a href='https://www.linkedin.com/in/anna-dangela/'>LinkedIn</a></p>
    <p style="text-align:center;"><a href='https://twitter.com/_dangelaa'>Twitter</a></p>
    <p style="text-align:center;"><a href='mailto:annaadangela@gmail.com'>Mail</a></p>
    </br>
    <p>This is my final project for Flatiron's Data Science Bootcamp. Check out the full analysis in my project repo on <a href="https://github.com/anna-dang/mod05-capstone-NLP">GitHub</a>. View my <a href='https://docs.google.com/presentation/d/1RRYsUs9rEWzMNWBq15tbA3YPxuJFMx6x2mFG-c_z_z4/present?slide=id.gb40562cf50_0_68'>presentation</a> 
        or my <a href="https://annadangela.medium.com">blog</a>. Thanks for stopping by!</p>
    </br>
</body>
</br>

{% endblock %}