<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- required meta tags for character type and phone view settings -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- alternative themes at https://bootswatch.com/ -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" rel="stylesheet">
        
        <!-- header font -->
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <!-- modifications to bootstrap -->
        <link href="../static/styles.css" rel="stylesheet"> 

        <title>Hotel Review Classifier: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" style = "font-family: 'Montserrat', sans-serif; font-size: 30px; font-weight: 600"
                    href="/" >Hotel Review Classifier</a>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" 
                            style="font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 500"
                            href="/">Classify</a></li>
                        <li class="nav-item"><a class="nav-link" 
                            style="font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 500"
                            href="/about">About</a></li>
                    </ul>
            </div>
        </nav>
        

        <main class="container p-5">
            {% block main %} <!-- template pages populate here -->{% endblock %}
        </main>

        <footer class="small text-center text-muted">
           Made by Anna D'Angela for Flatiron School. View full analysis on 
           <a href="https://github.com/anna-dang/mod05-capstone-NLP">GitHub</a>.
        </footer>
        </br>
    </body>
</html>
